extends structure

block sidebar

block main
  div
    p
    h2 Contact

    hr
    h5 Distribution exclusively by
    p
      a(href= "https://boosey.com/shop/powersearch/powersearch_results?search=Strings+Attached" title= "Boosey.com" target= "_blank")
        img(src="images/images/bh-logo.svg" title= "Boosey and Hawkes Music" width="40%")
    p
      a(href= "https://boosey.com/shop/powersearch/powersearch_results?search=Strings+Attached" title= "Boosey.com" target= "_blank")
        | Boosey &amp; Hawkes Music Publishers

    hr
    h5 Strings Attached Ltd.
    p
      | Great Skewes Cottage
      br
      | St. Wenn,
      | Bodmin
      br
      | Cornwall
      | PL30 5PS
      br
      | United Kingdom
      br
      br
      | Telephone and Fax: +44 (0)1726 890 639
      br
      br
      | Email &nbsp;
      a(href= "mailto:mkprof@icloud.com" title= "Strings Attached Ltd.")= "Strings Attached Ltd."



//- block images
