extends structure

block sidebar

block main
  div
    p
    h2 Error
    p Sorry, the page you searched for does not exist.
    p Click the button below or one of the links above to return to the Cadenzas and Scales catalogue.
    hr

    a(href="/" title= "Return to home page").btn.btn-xs.btn-outline-success= "Return to home page"



//- block images
