
.card
  .card-body.nav-main
    //- a(href="/")
      img(src="images/senh-logo-print.png" width="")
    a(href="/") Home
      i(class="bi-backspace" width="100%")
    span.spacer &nbsp;|&nbsp;
    a(href="/Cadenzas") Cadenzas 
    span.spacer &nbsp;|&nbsp;
    a(href="/Scales") Scales 
    span.spacer &nbsp;|&nbsp;
    a(href="/Publications") All Publications 
    span.spacer &nbsp;|&nbsp;
    a(href="/About") About
    span.spacer &nbsp;|&nbsp;
    a(href="/Contact") Contact
